@import  "../mixin";
@import "../variables.scss";

#spancroix {

  @include ecran-iphone-modif-span-images-croix;
margin-bottom: 8%;

}

.grid-container {
 
  
  
  display: grid;
  grid-template-columns: auto  auto  auto  ;
  grid-template-rows: auto  auto  auto  ;
/*   background-color: #2196F3; */
 margin: auto;

}
.grid-item {
 
/*    background-color: rgba(255, 255, 255, 0.8);  */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 0.2%;
 

}






.background {
    display: flex;
    flex-direction: row;
  height: auto;
align-content: center;

 /*  @include ecran-ipad; */





& .navigationquestion {

width: 100%;
height: 100%;
  font-size: 20px;
  @include bouton-ecran-large;
display: flex;
flex-direction: row;
justify-content: center;

  & button{

    @include ecran-iphone-bouton_en_lignequestion;
 @include ecran-iphone-bouton_croix;
margin-top: 2%;
    width: 40%;
    justify-content: center;
  
  background-color: rgb(204, 121, 12);
    border-radius: 20%;
    color: white;
    margin-left: 1%;
    &:hover{
      color: black;
      background-color: rgb(105, 204, 12);
    }
  }


}

& .navigationreponse {
  @include ecran-iphone-bouton_en_ligne;
  
  width: 100%;
height: 100%;
  display: flex;
  font-size: 20px;

flex-direction: row;
margin-right: 7.5%;
margin-left: 7.5%;
margin-top: 0.6%;
align-items: baseline;

width: 10%;
    & button{
 


    
      width: auto;
      justify-content: center;
    
    background-color: rgb(204, 121, 12);
      border-radius: 20%;
      color: white;
  
      &:hover{
        color: black;
        background-color: rgb(105, 204, 12);
      }
    }
  
  
  }













  & .ajustement{
      //POISSIBLE METTRE EN AUTO

      @include ajust-ecran-large-croix;
    width: 55%;
   /*  height: 45vw;  */
    display: flex;
    flex-direction: row;
    background: no-repeat, url(../logos/etoile2.jpg);
    background-size: cover;
    border-radius: 50%;
    box-shadow: 5px 2px 5px rgb(228, 40, 40);
    border: 2px solid dodgerblue;
    margin-bottom: 0%;
 
   
    
    justify-content: center;
  
 
  & img {

 /*   animation: progressif (3s); */

 
   width: 9vw;
   height: 14vw; 
    box-shadow: 3px 2px 5px rgb(37, 37, 37);
    border-radius: 10%;
  }
    
  
  
  
  
  & .question{
    
   
      display: flex;
    justify-content: center;
  flex-direction: column;


  & .haut { 
    display: flex;
 @include smartphone-haut;
    align-items: center;  
    justify-content: center;
 
 
  
}   //fermeture haut
  


  & .centre {
    display: flex;


   
 
    justify-content: center;
 

  } 



  & .bas {
     

    display: flex;
    
 
 
    
    justify-content: center;
  

} 
    & .animcroix {
    
      position: relative; 
  margin-top: -8%;
   
      img {   
        @include smartphone-img-croix;
        @include ajust-ecran-large-img-croix-tirage;
       
        margin: 0.4%;
         
        border: 2px solid dodgerblue;
        box-shadow: 5px 2px 5px rgb(37, 37, 37);
   
        animation: progressifretourne 3s  ;
        animation-fill-mode: forwards;
    
       
        width: 9vw;
        height: 14vw;
      /*   border: 2px solid dodgerblue;
      flex-wrap: nowrap;
      margin: 0.2%;
      width: 170px;
      height: 270px; */
      }
   
    
    }
    
    & .animcroix2 {
      position: absolute;
    
      margin-top: 1.5%;
    img {
      @include smartphone-img-croix;
      @include ajust-ecran-large-img-croix-tirage;
      margin: 0.4%;
      margin-top: 0%;
      animation: progressifretournedos 3s  ;
      animation-fill-mode: forwards;
      border-radius: 20%;

 width: 9vw;
 height: 14vw;   
     
    
     
      
      }

    }

// Animation des images pour les questions 
    & img 
    {@include smartphone-img-croix;
      animation: progressif 5s  ;
      height: 100%;
      @include ajust-ecran-large-img-croix;

      width: 9vw;
   height: 14vw; 
    
      
    

    }


 

 
& .anim { position: relative;
  
      } 

  & .anim2 { position: relative;
    & .haut { 
      display: flex;
      
      align-items: center;
      
      justify-content: center;
     
    
  }   //fermeture haut
    
  
  
    & .centre {
      display: flex;
  
      align-items: center;
      
      justify-content: center;
  
    } 
  
  
  
    & .bas {
       

      display: flex;
      
      align-items: center;
      
      justify-content: center;
    
 
  }    } 
 
  // Contrôle  -------------------------3 
  & span {

    z-index: 1;
    @include span-reponse;
    display: flex;
    flex-direction: row;
  justify-content: center;

  background: rgba(241, 214, 238, 0.9);
    opacity: 1;
    color: black;

  box-shadow: 5px 2px 5px rgb(19, 18, 18);
  border: 2px solid dodgerblue;
  border-radius: 20%;
 


  font-size: 1.2rem;
 
  & input {
    text-align: center;
  border-radius: 20%;
    width: 40vw;
    font-size: 1.2rem;
  }  
& button{



  width: 10%;
  justify-content: center;

background-color: rgb(204, 121, 12);
  border-radius: 20%;
  color: white;
  margin-left: 1%;
  &:hover{
    color: black;
    background-color: rgb(105, 204, 12);
  }
}
  & textarea {text-align: center;
    border-radius: 20%;
   
      }
 
  }
   
  
  }
  
  
  
   
  
  }
  }
  