@import  "./mixin";
.formulaire {
  
  background: rgba(241, 214, 238, 0.9);
border-radius: 20%;
  display: flex;
  flex-direction: row;
  & button{

    @include ecran-iphone-bouton_en_lignequestion;
 @include ecran-iphone-bouton_croix;

    width: 40%;
    justify-content: center;
  
  background-color: rgb(204, 121, 12);
    border-radius: 20%;
    color: white;
    margin-left: 1%;
    &:hover{
      color: black;
      background-color: rgb(105, 204, 12);
    }
  }

}



.flexcollumn {

display: flex;
flex-direction: column;
}

.flexrow {
  justify-content: center;
  align-items: center;
  
    display: flex;
    flex-direction: row;
    }
nav {
  margin: 0px;
  padding: 0px;
   background-color: aqua;
   justify-content: center;
   
  }
  a  {

    color:blue;
  }
  a:link {
    color:blue;
    text-decoration: none;
    & a:visited {
      text-decoration: none;
     color: blue;
    }
  }
  ul {
    list-style-type: none;
  }
  

  * {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  

  
  html {
    background-color: black;
    margin: 0px;
    padding: 0px;


  }
  
  body {

 
    height:100%;
    width: 100%;
  }
  h1 {

color: white;

  }