@import "./variables.scss";



/* @mixin barre-de-navigation-smartphone {
  @media only screen and (max-width: $ipadmin) and (min-width: $ipadmax) {  

font-size: 1rem;;



    }

 

} */

@mixin ipad-ajustement_login_img {
  @media only screen and (max-width:$ipadmin  ) and (min-width:$ipadmax  )  {




width: auto;
height: 20%;


 }
}

@mixin ipad-ajustement_login_text {
 @media only screen and (max-width:$ipadmin  )  and (min-width:$ipadmax  )  {




font-size: 1.2vw;


}
}
@mixin smartphone-ajustement_login_text {
  @media only screen and (max-width:$smartphone  )    {




font-size: 3vw;


 }
}

//Mixin iphone =>    retouche les images en ligne sur iphone

@mixin img-ecran-smartphone-retouche-ligne {
  @media only screen and (max-width: $smartphonechoix)  {
    display: flex;
justify-items: center;
margin: 0%;
justify-content: center;
    width: 100%;
    height: 150%;
   /* border: rgb(72, 20, 168) solid 3px; */
  
   img {
  
    border: 2px solid dodgerblue;
    flex-wrap: nowrap;
  
    width: 12vw;
    height: 19vw; 
    
  }
 

    }
    


  }
  //Mixin iphone =>    retouche les images en ligne sur ipad et ++
  @mixin carte-en-ligne-pour-ipad-plus {
    @media only screen and (min-width:$ipadmax  )  {

// Ancienement  (min-width:$ipadmax  ) and (max-width:$ecraninfini )  


display: flex;
flex-direction: row;




img {
  
  border: 2px solid dodgerblue;
  flex-wrap: nowrap;

  width: 12vw;
  height: 19vw; 
  
}



      }
 
     
  
    }

//mixine smarthpone => retouche des images en ligne pour smartphones
@mixin ecran-iphone-carte_en_ligne {
  @media only screen and (max-width: $smartphone)  {

display: flex;
flex-direction: column;

font-size: 1rem;


        
    


    }
    
    
  }

  @mixin ecran-iphone-bouton_en_ligne {
    @media only screen and (max-width: $smartphonecroix)  {
  
width: 100%;
  
  font-size: 1rem;
  
  margin-top: 8%;
  margin-left: 2%;
  margin-right: 2%;
      }
      
    }
  

    @mixin ecran-iphone-bouton_en_lignequestion {
      @media only screen and (max-width: $smartphonecroix)  {
    
  width: 100%;
  
    font-size: 1rem;
   
    & button {


      width: 100%;
    }
 
    
        }
        
      }

      @mixin ecran-iphone-bouton_croix {
        @media only screen and (max-width: $smartphonecroix)  {
      margin-top: 30%;
    width: 100%;
      
      font-size: 1rem;
      
      & button {
  
        
      }
   
      
          }
          
        }
    
//Modification des images smartphones
      @mixin ecran-iphone-modif-taille-images {
        @media only screen and (max-width: $smartphone)  {
      img {

        width: 35vw;
      
        height: 50vw;
      }
  
         
      
      
          }

     
          
          
        }
    
//Modification des image smartphones tirage en croix 

@mixin ecran-iphone-modif-margetop-images-croix {
  @media only screen and (max-width: $smartphone)  {
display: flex;
flex-direction: column;

align-items: center;

margin-top: 50vw;
    border-radius: 20%;
    background: no-repeat, url(../logos/lotus.jpg);
/*   
        margin-left: -27%;
        margin-top: 160%; */
    


    }
 

    
  }
  


  @mixin ecran-iphone-modif-span-images-croix {
    @media only screen and (max-width: $smartphonecroix)  {
      display: flex;

 margin-top: 0%;
 
  background-color: #d1515a;

  font-size: 0.9rem;


  
   
  
      }
   
  
      
    }


  @mixin ecran-iphone-modif-images-croix {
    @media only screen and (max-width: $smartphone)  {
  margin: 0px;
      width: 30vw;
     height: 40vw;
  
          
      
  
  
      }
   
  
      
    }

//Modification img smartphone croix tirage 




@mixin smartphone-img-croix {
  @media only screen and (max-width: $smartphonecroix) {




    height: 50vw;
    width: 32vw;


  }
}





@mixin smartphone-haut {
  @media only screen and (max-width: $smartphone) {




    margin-top: 6.5%;


  }
}






//Modif ecran large images en croix 

@mixin ajust-ecran-large-croix {
  @media only screen and (min-width: $ecranlarge)  {

display: flex;
background-color: #d1515a;
  height:  36vw;
  width: 40%;
 

    }
    


  }
  @mixin ajust-ecran-large-img-croix {
    @media only screen and (min-width: $ecranlarge)  {
  
  display: flex;
  background-color: #d1515a;
  width: 7vw;
  height: 10vw;
  display: flex;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  
      }
      
  
  
    }
    
    @mixin ajust-ecran-large-img-croix-tirage {
      @media only screen and (min-width: $ecranlarge)  {
    
 display: flex;
 flex-direction: column;
    background-color: #d1515a;
    width: 7vw;
    height: 10vw;  
      margin-top: 0px;
      margin-bottom: 8px;
      margin-left: 8px;
      margin-right: 8px;
    padding: 0%;
        }
        
    
    
      }

      @mixin ajust-ecran-large-img-croixseconde-tirage {
        @media only screen and (min-width: $ecranlarge)  {
          display: flex;
          flex-direction: column;
      background-color: #d1515a;
   

      width: 7vw;
      height: 10vw; 
     
          }
          
      
      
        }

// La boule de cristale pour ecran large


  // ajust le formulaire login pour écran larges 


  @mixin ajust-login-ecran-large {
    @media only screen and (min-width: $ecranlarge)  {
  
      width: 35%;
      height: 50%;
   & input {

    
    height: 5%;

   }
      }
      
  
  
    } 
// Toutes les propriétées écrans larges
@mixin ajust-login-ecran-smartphone {
  @media only screen and (max-width: $smartphone)   {
    width: 90%;

    }
    


  } 

  @mixin ajust-login-ecran-ipad {
    @media only screen and (max-width: $ipadmin)  {
      width: 90%;
  
      }
      
  
  
    } 

  @mixin bouton-ecran-large {
    @media only screen and (min-width: $ecranlarge)  {
font-size: 30px;
   
      }
      
  
  
    } 

// Les images écrans larges

@mixin img-ecran-large-formulaire-enligne {
  @media only screen and (min-width: $ecranlarge)  {
    width: 45%;
    height: 36vw;

    }
    


  } 




  @mixin img-ecran-large {
    @media only screen and (min-width: $ecranlarge)  {
      width: 285px;
      height: 387px;

      }
      
  
  
    } 



 

      @mixin img-ecran-large-menu_choix_bougie {
        @media only screen and (min-width: $ecranlarge)  {
  
  width: 100%;
    height: 10vw;
         
            border-radius: 5%;
            
        
  
  
   
    
          }
          
      
      
        } 

      @mixin typo-ecran-large-menu_choix {
        @media only screen and (min-width: $ecranlarge)  {
  
  
    
          font-size: 3rem;;
        
  
  
   
    
          }
          
      
      
        } 

// Partie IPAD 

//menu choix des cartes 


@mixin typo-ecran-ipad-menu_choix {
  @media only screen and (max-width: $ipadmaxcarte) and (min-width: $ipadmincarte)  {



    font-size: 1.3rem;;
  




    }
    


  } 


 




      @mixin img-ecran-ipad {
        @media only screen and (max-width: $ipadmaxcarte) and (min-width: $ipadmincarte)  {
      height: 100%;
         width: 100%;
    
          }
          
      
      
        } 


      
       











// partie iphone 
@mixin span-reponse {
  @media only screen and (max-width: $ipadmin)  {

margin-bottom: 1%;



  }



}

@mixin ecran-iphone-menu_choix {
  @media only screen and (max-width: $smartphonechoix)  {

display: flex;
flex-direction: column;






    }
    


  }


  @mixin img-ecran-iphone-menu_modele {
    @media only screen and (max-width: $smartphone)  {
  
 
  
  width: 20%;
  
  
  
  
      }
      
  
  
    }
  
  



  
      

//-----------partie forum



@mixin smartphone-grid {
    @media only screen and (max-width: $smartphone) {

    
      width: 50%;
  height: 100%;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 3%;
  /* color: black; */
  border: 1px solid #d1515a;
  font-family: Arial, Helvetica, sans-serif;
text-align: center;
  box-shadow: rgba(15, 15, 12, 2) 0px 2px 8px 0px;
  border-radius: 15px;
  background-color: white;

 
    }
  }

  @mixin smartphone-ajustement_login {
    @media only screen and (max-width: $smartphone) {

   width: 60%;
   height: 40%;


 
    }
  }


  @mixin smartphone-ajustement_formulaire {
    @media only screen and (max-width: $smartphone) {

 font-size: 1rem;


 
    }
  }

  @mixin smartphone-ajustement_post_individuel_corps{
    @media only screen and (max-width: $smartphone) {
padding: 0%;

 width: 100%;

 & .body {

  display: flex;
  flex-direction: column;

/*  height: 19vw; */
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  font-weight: 500;
  background-color: #f7fdfd;
  color: black;
  white-space: pre-line;

}
 
    }
  }




  @mixin smartphone-grid-body {
    @media only screen and (max-width: $smartphone) {

    
      width: 100%;
   height: 50%; 
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 60px;
  margin-left: 0%;
  margin-right: 0%;
  
  font-weight: 500;
  background-color: #a9a2eb;
  color: black;
  white-space: pre-line;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  align-content: center;



 
    }
  }




  @mixin smartphone-button {
    @media only screen and (max-width: $smartphone) {
font-size: 12px;
 
    }
  }




  @mixin smartphone-nav {
    @media only screen and (max-width: $smartphone) {
      display: flex;
      flex-direction: column;
 padding: 0px;
/*     background-color: #d1515a; */
& .barredenavigation {
  
 
     & ul {
      display: flex;
  /*    border: 3px solid red; */
 justify-content: center;
 justify-items: center;
 flex-direction: column;
 
       padding: 0px;
 
       
     }
 
     
     

 
 & .apparitionbarrecontexte {
 
  
 
 
 
 & ul {
   display: flex;
 /*  border: 3px solid red; */
 justify-content: center;
 justify-items: center;
    flex-direction: column; 
    width: 100%;
   
   

  }
 
 

    
   
 

 
 }
 
 
 
   } }
 
 
 
 
 

    }
 










  @mixin ipad-grid {
    @media only screen  and (min-width: $ipadmin) and (max-width: $ipadmax)  {
      width: 100%;
  height: 100%;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0.5%;
  /* color: black; */
  border: 1px solid #d1515a;
  font-family: Arial, Helvetica, sans-serif;
text-align: center;
  box-shadow: rgba(15, 15, 12, 2) 0px 2px 8px 0px;
  border-radius: 15px;
  background-color: white;
 
    }
  }
  
  